@page "/"
@using PiStellwerk.Client.Services
@using PiStellwerk.Client.Model

@inject ModalManager _modalManager;
@inject IClientSettingsService _settingsService;

<StopButton />
<ControlContainer />

<SelectionContainer/>
<UsernameModal/>


<footer>
    <button class="is-pulled-left" id="UsernameLabel" @onclick="() => _modalManager.IsUsernameModalVisible = true" >User: @_settings?.Username</button>
    <button class="is-pulled-right">Settings</button>
</footer>

@code
{
    private ImmutableSettings? _settings;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        _settingsService.SettingsChanged += settings =>
        {
            _settings = settings;
            StateHasChanged();
        };

        _settings = await _settingsService.GetSettings();
    }
}