@page "/"
@using PiStellwerk.WebClient.Pages
@using PiStellwerk.WebClient
@using PiStellwerk.Client.Services
@using PiStellwerk.Client.Model

@inject ModalManager _modalManager;
@inject IClientSettingsService _settingsService

<StopButton />
<ControlContainer />

<!-- Engine selection overlay-->

<SelectionContainer/>

<footer>
    <button class="is-pulled-left" id="UsernameLabel" @onclick="() => _modalManager.IsUsernameModalVisible = true" >User: @_settings?.Username</button>
    <button class="is-pulled-right">Settings</button>
</footer>

@code
{
    private ImmutableSettings? _settings;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        _settings = await _settingsService.GetSettings();

        _modalManager.PropertyChanged += (_, _) => StateHasChanged();
    }
}