@using PiStellwerk.Data
@using PiStellwerk.Client.Services

@inject AppState _appState
@inject ClientEngineService _engineService
@inject ModalManager _modalManager

<article class="is-clickable has-shadow" @onclick="SelectEngine" >
    @if (Engine != null)
    {
        <header>@Engine.Name</header>
        <picture class="selection-image"><img src="img/noImageImage.png" alt="Engine image"/></picture>
        <span class="tags">
            @foreach (var tag in Engine.Tags)
            {
                <span>@tag</span>
            }
        </span>
    }</article>
@code {
    [Parameter]
    public Engine? Engine { get; init; }

    private async void SelectEngine()
    {
        if (Engine == null)
        {
            throw new InvalidOperationException();
        }
        var engine = await _engineService.AcquireEngine(Engine.Id);
        if (engine != null)
        {
            Console.WriteLine($"Acquired engine {engine}");
            _appState.ActiveEngines.Add(engine);
        }
        _modalManager.IsEngineSelectionVisible = false;
    }
}
