@using PiStellwerk.Data
@using System.ComponentModel
@using PiStellwerk.Client.Services
@inject ModalManager _modalManager
@inject ClientEngineService _engineService

<div id="EngineSelectionModal" class="modal @_modalManager.EngineSelectionClass">
    <div class="modal-content-fullwidth">
        <div class="modal-header">
            <header></header>
            <button class="bold" @onclick="() => _modalManager.IsEngineSelectionVisible = false">X</button>
        </div>
        <div class="can-scroll-y modal-body">
            <div id="EngineSelectionContainer" class="selection-grid">
                @foreach (var engine in _engines)
                {
                    <SelectionEngine Engine="engine"/>
                }
            </div>
        </div>
        <div class="modal-footer">
            <button class="bold" disabled="@_cannotMoveBackward" @onclick="() => {_ = ChangePage(-1);}">&lt;</button>
            <button class="bold" disabled="@_cannotMoveForward" @onclick="() => {_ = ChangePage(+1);}" >&gt;</button>
        </div>
    </div>
</div>
@code {
    private readonly List<Engine> _engines = new();

    private bool _cannotMoveForward => !_engines.Any();
    private bool _cannotMoveBackward => _currentPage <= 0;

    private int _currentPage = 0;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _modalManager.PropertyChanged += HandleModalManagerNotification;
    }

    private async void HandleModalManagerNotification(object? sender, PropertyChangedEventArgs args)
    {
        if (args.PropertyName != nameof(_modalManager.IsEngineSelectionVisible))
        {
            return;
        }

        _engines.Clear();

        if (_modalManager.IsEngineSelectionVisible)
        {
            _currentPage = 0;
            await ChangePage(0);
        }

        StateHasChanged();
    }

    private async Task ChangePage(int change)
    {
        _currentPage += change;

        if (_currentPage < 0)
        {
            _currentPage = 0;
        }
        var engines = await _engineService.GetEngines(_currentPage);
        _engines.Clear();
        _engines.AddRange(engines);

        StateHasChanged();
    }

}
