@using System.Collections.ObjectModel

@inject ModalManager ModalManager
@inject AppState AppState;

<div id="EngineContainer" class="is-flex-horizontal has-100percent-height">
    <!-- Template for each control block -->
    @foreach (var engine in AppState.ActiveEngines)
    {
        <EngineController Engine="engine"/>
    }

    <!-- "Empty" control panel with Button to open the engine selection dialog. -->
    <div class="is-engine-controller uses-ec-grid has-shadow">
        <button id="SelectEngineButton" class="has-background-primary covers-full-ec-grid" @onclick="() => ModalManager.IsEngineSelectionVisible = true" >Select Engine</button>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
        AppState.ActiveEngines.CollectionChanged += (_,_) => StateHasChanged();
    }

}
