@using TauStellwerk.Client.Services
@using TauStellwerk.Base.Model

@inject EngineService _engineService;

<button class="button is-fullwidth has-left-text @BackgroundClass"
        @onclick="ToggleFunction">
        @Function
</button>

@code {
    [Parameter]
    public FunctionDto Function { get; set; } = null!;
    
    [Parameter]
    public int EngineId { get; set; }

    private bool IsOn { get; set; }

    private string BackgroundClass => IsOn ? "button-secondary-toggled" : "button-secondary";

        private void ToggleFunction()
        {
            IsOn = !IsOn;
            _ = _engineService.SetFunction(EngineId, Function.Number, IsOn ? State.On : State.Off);
            StateHasChanged();
        }
}
