@using TauStellwerk.Client.Services
@using TauStellwerk.Base.Model
@using TauStellwerk.Client.Model

@inject EngineService EngineService;

<button class="button is-fullwidth has-left-text @BackgroundClass"
        @onclick="ToggleFunction">
        @Function
</button>

@code {
    [Parameter]
    [EditorRequired]
    public Function Function { get; set; } = null!;

    [Parameter]
    [EditorRequired]
    public EngineFull Engine { get; set; } = null!;

    private string BackgroundClass => Function.State == State.On ? "button-secondary-toggled" : "button-secondary";

        private async Task ToggleFunction()
        {
            await EngineService.ToggleFunction(Engine, Function);
        }
}
