@using System.ComponentModel
@inject ModalManager ModalManager
@inject AppState AppState

<div class="modal @(ModalManager.IsMessageBoxVisible ? "active-modal" : "inactive-modal")">
    <div class="modal-content">
        <p>@AppState.MessageBoxText</p>
        <button @onclick="Close" class="is-pulled-right">Ok</button>
    </div>
</div>
@code {

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        ModalManager.PropertyChanged += HandleModalManagerNotification;
    }

    private void HandleModalManagerNotification(object? sender, PropertyChangedEventArgs args)
    {
        if (args.PropertyName != nameof(ModalManager.IsMessageBoxVisible))
        {
            return;
        }

        StateHasChanged();
    }

    private void Close()
    {
        ModalManager.IsMessageBoxVisible = false;
    }
}