@using System.ComponentModel
@inject ModalManager _modalManager
@inject AppState _appState

<div class="modal @(_modalManager.IsMessageBoxVisible ? "active-modal" : "inactive-modal")">
    <div class="modal-content">
        <p>@_appState.MessageBoxText</p>
        <button @onclick="Close" class="is-pulled-right">Ok</button>
    </div>
</div>
@code {

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        _modalManager.PropertyChanged += HandleModalManagerNotification;
    }

    private void HandleModalManagerNotification(object? sender, PropertyChangedEventArgs args)
    {
        if (args.PropertyName != nameof(_modalManager.IsMessageBoxVisible))
        {
            return;
        }

        StateHasChanged();
    }

    private void Close()
    {
        _modalManager.IsMessageBoxVisible = false;
    }
}