/* 
    base.css
    
    Basic styles that apply to all elmenents of a type.
*/

:root {
    font-family: sans-serif;
    user-select: none;
    background-color: var(--background-color);
    color: var(--primary-text);
}

html {
    height: 100%;
}

body {
    margin: 0 8px 8px 8px;
    height: calc(100% - 8px);
    display: flex;
    flex-direction: column;
    align-items: stretch;
}


button {
    border-radius: 5px;
    border-width: 0;
    padding: 8px;
    font-size: 1em;
    cursor: pointer;
}

button, output, input, label {
    font-size: 1em;
}


form > * {
    margin: 5px;
    display: block;
}