/*
    Default "light" theme
    https://material.io/resources/color/
    
*/


:root, [data-theme="default"], [data-theme="light"] {
    --primary-color: #9ccc65;
    --primary-color-alt: #cfff95;
    --danger-color: #f44336;
    --danger-color-alt: #ff7961;

    --background-color: #FFFFFF;
    --primary-text: #000000;
}

[data-theme="dark"] {
    --primary-color: #689F38;
    --primary-color-alt: #7cb342;
    --danger-color: #D32F2F;
    --danger-color-alt: #9a0007;
    
    --background-color: #333333;
    --primary-text: #EEEEEE;
}