/*
    Default "light" theme
    https://material.io/resources/color/
    
*/


:root {
    --primary-color: #9ccc65;
    --primary-color-light: #cfff95;
    --primary-color-dark: #6b9b37;
    --danger-color: #f44336;
    --danger-color-light: #ff7961;
    --danger-color-dark: #ba000d;

    --background-color: #ffffff;
}
