:root {
	font-family: sans-serif;
	user-select: none;
}

html {
	height: 100%;
}


body {
	display:flex;
	height: 100%;
	flex-direction:column;
	align-items: stretch;
}


.title {
	font-size: 1.5em
}

#CommandButton {

	width: 100%;
	margin: 0;
	text-align: center;
	padding: 1em;
	flex: 0 0 auto;
    z-index: 100; /* Should always be displayed on top, even on overlays*/
}

@media (min-width: 900px) {
	#CommandButton {
		width: 80%;
		margin: 0 auto;
	}
}

#EngineContainer {
	overflow-x: scroll;
	overflow-y: hidden;
	}


.has-100percent-height {
	height: 100%;
}

.uses-ec-grid {
	height: 100%;
	display: grid;
	grid-template-areas: "header header"
						 "slider functions"
						 "speed functions";
	grid-template-columns: 5em auto;
	grid-template-rows: 2.5em auto 2.5em;
	align-items: center;
}

.EngineControlHeader {
    grid-area: header;
}


.uses-ec-grid > input {
	grid-area: slider;
}

.uses-ec-grid > output {
	grid-area: speed;
}

.uses-ec-grid > .EngineFunctions {
	grid-area: functions;
}

.uses-ec-grid > .uses-complete-ec-grid {
	grid-area: 1 / 1 / span 3 / span 2;
}

.has-80percent-width {
	        width: 80%;
}


.template {
	display: none;
}

.can-scroll-y {
	overflow-y: scroll;

}

.modal-content, .modal-card {
	/* Ensure the e-stop button cannot cover the content of a modal*/
	margin-top: 90px;

}

footer {
	width: 100%;
	flex: 0 0 auto;
}

.selection-grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: minmax(min-content, 1fr);
	grid-gap: 0.5rem;
}

@media (min-width: 769px) {
	.selection-grid {
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 1216px) {
	.selection-grid {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

@media (min-width: 1408px) {
	.selection-grid {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}
}