:root {
    font-family: sans-serif;
	user-select: none;

	--background-main: #303030;
	--background-secondary: #202020;
	--background-highlight: #404040;
	--textcolor-main: #FFFFFF;
	--textcolor-secondary: #EE EE EE; 
}

html {
	height: 100%;
}

body {
	background-color: var(--background-main);
	color: var(--textcolor-main);
	display:flex;
	height: 100%;
	flex-direction:column;
	align-items: stretch;
}

.title {
	font-size: 1.5em
}

.secondary {
	color: var(--textcolor-secondary);
}

#CommandButton {

	width: 100%;
	margin: 0px;
	text-align: center;
	padding: 1em;
	flex: 0, 0, auto;
}

@media (min-width: 900px) {
	#CommandButton {
		width: 80%;
		margin: 0px auto;
	}
}

.StoppedButton {
	background-color: #B00020;
}

.StoppedBlockingButton {
	background-color: #CF6679;
}

.RunningButton {
	background-color: Highlight;
	color: black;
}

#EngineContainer {
	display: flex;
	flex: 1 0 auto;
	flex-direction: row;
	overflow-x: scroll;
	overflow-y: hidden;
	}

.EngineControl {
	background-color: var(--background-secondary);
	padding: 2px;
	margin: 3px;
	height: 100%;
	display: grid;
	grid-template-areas: "header header"
						 "slider functions"
						 "speed functions";
	grid-template-columns: 5em auto;
	grid-template-rows: 2.5em auto 2.5em;
	justify-items: center;
	flex: 0 0 25em;
}

.EngineControl:first-child {
	display: none;
}


.EngineControl > header {
	grid-area: header;
}

.EngineControl > input {
	grid-area: slider;
}

.EngineControl > output {
	grid-area: speed;
}

.EngineControl > .EngineFunctions {
	grid-area: functions;
}

footer {
	width: 100%;
	background-color: var(--background-highlight);
	flex: 0, 0, auto;
}
