/* 
    generic.css
    
    Contains styles that are not specific to a single element.
    Essentially a "Mini"-Framework
*/

.bold {
    font-weight: bold;
}

.has-background-primary {
    background-color: var(--primary-color);
}


.button-secondary {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}


.button-secondary-toggled {
    background-color: var(--background-color);
    border-style: solid;
    border-color: var(--secondary-color);
}

.has-background-danger {
    background-color: var(--danger-color);
}

.has-background {
    background-color: var(--background-color);
}

.is-clickable {
    cursor: pointer;
}

.is-flex-horizontal {
    display: flex;
    flex-direction: row;
}

.is-flex-vertical {
    display: flex;
    flex-direction: column;
}

.flex-filler { 
    flex: 1 1 auto;
}

.justify-flex-end{
    justify-content: flex-end;
}

.align-baseline {
    align-items: baseline;
}

.can-scroll-y{
    overflow-y: auto;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
}

.active-modal {
    display: block;
}

.is-pulled-left {
    float: left;
}

.is-pulled-right {
    float: right;
}

.has-80percent-width {
    width: 80%;
}

.has-100percent-height {
    height: 100%;
}

.has-100percent-max-height {
    max-height: 100%;
}

.modal-content, .modal-content-fullwidth {
    background-color: var(--background-color);
    /* Ensure the e-stop button cannot cover the content of a modal*/
    margin: 90px 20px 20px 20px;
    overflow: auto;
}

.modal-content {
    padding: 10px;
    max-width: 1024px;
    --modal-side-margin: max(20px, calc((100vw - 1024px) / 2));
    margin-left: var(--modal-side-margin);
    margin-right: var(--modal-side-margin);
    max-height: calc(100% - 110px);
}

.modal-content-fullwidth {
    padding: 5px;

    display: flex;
    flex-direction: column;
    max-height: calc(100% - 110px);
}
.modal-header, .modal-footer {
    flex: 0 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.modal-body {
    flex-grow: 1;
    flex-shrink: 1;

    overflow-y:auto;

    /* Hack to get the vertical scrollbar to not disturb the content.*/
    padding-right: 10px;
    overflow-x: hidden;
}

.has-shadow {
    box-shadow: 0 0 8px var(--shadow-color);
}
.tags > * {
    display: inline-block;
    margin: 2px;
    padding: 2px 4px;
    border-radius: 5px;
    border-width: 0;
}

.center {
    text-align: center;
    align-content: center;
}

@media (min-width: 769px) {
    .form-group > label {
        width: 300px;
        display: inline-block;
    }
}

@media (max-width: 769px) {
    .form-group > label {
        display: block;
    }
}

.no-wrap {
    white-space: nowrap;
}