/*
    https://material.io/resources/color/
    
*/


:root, [data-theme="default"], [data-theme="light"] {
    --primary-color: #2196f3;
    --secondary-color: #BBBBBB;
    --danger-color: #f44336;

    --background-color: #FFFFFF;
    --primary-text: #000000;
    
    --shadow-color: #D3D3D3;
    
    --active-filter-value: 130%;
    --disabled-filter-value: 80%;
}

[data-theme="dark"] {
    --primary-color: #1e88e5;
    --secondary-color: #445963;
    --danger-color: #D32F2F;
    
    --background-color: #333333;
    --primary-text: #eeeeee;

    --shadow-color: #000000;
    
    --active-filter-value: 70%;
    --disabled-filter-value: 70%;
}