name: .NET format

on:
  push:

jobs:
  dotnet-format:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
      with: 
        fetch-depth: 0
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Format
      run: dotnet format --verify-no-changes --verbosity diagnostic